body {
     background-color: #CCCCCC;
     margin: 0px;
}
     
h1 {
    font-family: "Lucida Bright", "Times New Roman", serif;
    padding: 5px;
    margin: 0px;
    letter-spacing: 13px;
    font-weight: 100;
    font-size: 36px;
}

h2 {
     font-size: 14px;
     font-variant: small-caps;
     font-weight: 300;
     letter-spacing: 2.5px;
     padding-top: 2px;
     padding-bottom: 5px;
     margin: 0px;
     color: #AAAAAA;
}

p {
     font-size: 0.85em;
     font-weight: 200;
     padding: 3px;
     margin: 0px;
     color: #000000;
}

smalltext {
     font-size: 0.75em;
     font-weight: 200;
     padding: 3px;
     margin: 0px;
     color: #000000;
}

#header {
     text-align: center;
     background-color: #FFFFFF
}

#footer {
    text-align: center;
    padding-top: 10px;
}

#filters {
     width: 750px;
     margin-left:auto;
     margin-right:auto;
     margin-top:10px;
     background-color: #FFFFFF;
     border: 1px solid #AAAAAA;
}

#content {
     width: 750px;
     margin-left: auto;
     margin-right: auto;
     margin-top: 5px;
     background-color: #FFFFFF;
     border: 1px solid #AAAAAA;
}

#visualization {
    width: 750px;
    height: 347px;
    padding-top: 5px;
    position: relative;
}

hr {
    margin: 0px;
}

table {
    width: 750px;
}