h1 {
    font-family: "Lucida Bright", "Times New Roman", serif;
    padding: 5px;
    margin: 0px;
    letter-spacing: 15px;
    font-weight: 100;
    font-size: 36px;
}

h2 {
     font-size: 15px;
     letter-spacing: 5px;
     font-weight: 200;
     padding: 2px;
     margin: 0px;
     font-style: italic;
     color: #AAAAAA;
}

p {
     font-size: 12px;
     font-weight: 200;
     padding: 2px;
     margin: 0px;
     color: #AAAAAA;
}