


<!--<body>
    <div id="header">
        {% block header %}
            <h1>BLIND DATA</h1>
            <h2>"Know what you're getting into"</h2>
            <hr>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
    
    <div id ="footer">
        {% block footer %}
            <p>Blind Data is copyright 2010 by Michael Benedict. Data courtesy of the
             World Bank Group. For more information see http://data.worldbank.org</p>
        {% endblock %}
    </div>
</body>-->