{% load humanize %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/tables.css" >  
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Blind Data</title>
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript">
    google.load('visualization', '1', {packages: ['geomap']});

    function drawVisualization() {
      var data = new google.visualization.DataTable();
      data.addRows({{ map_data|length }});
      data.addColumn('string', 'Country');
      data.addColumn('number', 'Datapoints');
      data.addColumn('string', 'Name');
      {% for name, code, number in map_data %}
      data.setValue({{ forloop.counter0 }}, 0, '{{ code }}');
      data.setValue({{ forloop.counter0 }}, 1, {{ number }});
      data.setValue({{ forloop.counter0 }}, 2, '{{ name }}');
      {% endfor %}
      
      var options = {};
      options['width'] = '750px';
      
      var geomap = new google.visualization.GeoMap(
          document.getElementById('visualization'));
      geomap.draw(data, options);
    }
    

    google.setOnLoadCallback(drawVisualization);
  </script>
</head>

<body>
{% block content %}
<center>
    <div id="header">
        <h1>BLIND DATA</h1>
        <hr>
    </div>
<table>
    <thead>
        <tr>
            <th>Topic</th>
            <th># Series</th>
            <th># Datapoints</th>
            <th>Mean Points/Series</th>
            <th>Points/Year (1960-2009)</th>
        </tr>
    </thead>
    <tbody>
        {% for line in table_data %}
            <tr>
                <td><a href="http://thebenedict.dyndns.org:9000/blinddata/{{line.safe_topic_name}}/">{{line.topic_name}}</a></td>
                <td>{{line.num_series|intcomma}}</td>
                <td>{{line.num_datapoints|intcomma}}</td>
                <td>{{line.ave_datapoints|intcomma}}</td>
                <td><img src="http://chart.apis.google.com/chart?chs=150x25&cht=ls&chco=0077CC&chf=bg,s,00000000&chds={{line.count_min}},{{line.count_max}}&chd=t:{% for c in line.count_list %}{% if not forloop.last %}{{c}},{% endif %}{% if forloop.last %}{{c}}{% endif %}{% endfor %}"></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div id="visualization" style="width: 800px; height: 400px; padding-top: 10px"></div>
    <div id ="footer">
        <p>Blind Data is copyright 2010 by Michael Benedict. Data courtesy of the
         World Bank Group. For more information see <a href="http://data.worldbank.org">http://data.worldbank.org</a></p>
    </div>
</center>
</body>
{% endblock %}
</html>
