<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.7/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/tables.css" >
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

  <!--Jquery range slider-->
	<script>
	$(function() {
		$( "#slider-range" ).slider({
			range: true,
			min: 1960,
			max: 2009,
                        {% if table %}
			    values: [ {{ table.start_year }}, {{ table.end_year }} ],
                        {% else %}
                            values: [ {{ series_row.start_year }}, {{  series_row.end_year }} ],
                        {% endif %}
			slide: function( event, ui ) {
				$( "#id_start_year" ).val( ui.values[ 0 ] );
                                $( "#id_end_year" ).val( ui.values[ 1 ] );
			}
		});
		$( "#id_start_year" ).val( $( "#slider-range" ).slider( "values", 0 ));
                $( "#id_end_year" ).val( $( "#slider-range" ).slider( "values", 1 ));
	});
	</script>
  <!--End Jquery range slider -->

<!--Jquery div show/hide slider-->
	<script>
	$(function() {
		// run the currently selected effect
		function runEffect() {
			var selectedEffect = "slide";
			var options = {direction: 'down'};
			$( "#slider" ).toggle( selectedEffect, options, 300 );
		};
		
		// set effect from select menu value
		$( "#form_button" ).click(function() {
			runEffect();
			return false;
		});
	});
	</script>
<!--End Jquery div show/hide slider-->

  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Blind Data</title>
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript">
    google.load('visualization', '1', {packages: ['geomap']});

    function drawVisualization() {
      var data = new google.visualization.DataTable();
      data.addRows({{ map_data|length }});
      data.addColumn('string', 'Country');
      data.addColumn('number', 'Datapoints');
      data.addColumn('string', 'Name');
      {% for name, code, number in map_data %}
      data.setValue({{ forloop.counter0 }}, 0, '{{ code }}');
      data.setValue({{ forloop.counter0 }}, 1, {{ number }});
      data.setValue({{ forloop.counter0 }}, 2, '{{ name }}');
      {% endfor %}
      
      var options = {};
      options['width'] = '750px';
      options['dataMode'] = 'regions';
      {% if map_data|length_is:"1" %}
          options['region'] = '{{ map_data.0.1 }}'
          options['dataMode'] = 'markers';
          options['showLegend'] = false;
      {% endif %}
      var geomap = new google.visualization.GeoMap(
          document.getElementById('visualization'));
          
/*      google.visualization.events.addListner(geomap, 'select', function(){
        alert('click');
      });*/
          
/*      google.visualization.events.addListner(geomap, 'regionClick', function(e) {
          alert('click! ' + e['region']);
          //var rowindex = data.getFilteredRows([{column: 0, value: e['region']}]);
          //var country_code = data.getValue(rowindex[0],0);
      });*/
 
/* UNCOMMENT TO MAKE THE MAP CLICKABLE     
      google.visualization.events.addListener(geomap, 'regionClick', regionClickHandler);
      
      function regionClickHandler(e) {
        var rowindex = data.getFilteredRows([{column: 0, value: e['region']}]);
        var country_code = data.getValue(rowindex[0],0);
*/        
        //the above two lines work, the below two take two clicks on the map to do the same thing
        //I don't understand why
        //var country_data = geomap.getSelection();
        //var country_code = data.getValue(country_data[0].row,0);
/* UNCOMMENT TO MAKE THE MAP CLICKABLE        
        location.href = "http://" + location.host + '/' + country_code + location.pathname;

        geomap.setSelection();
      }
*/      
      geomap.draw(data, options);
    }
    

    google.setOnLoadCallback(drawVisualization);
  </script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-3319511-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body>
    <div id="header">
        {% block header %}
            <h1>BLIND DATA</h1>
            <h2>Data Availablility in the WDI and GDF</h2>
            <hr>
        {% endblock %}
    </div>

    <div id="filters">
        {% block filters %}{% endblock %}
    </div>


<div id="form-wrapper">

<div id="form-toggle">
    <a href="#" id="form_button">Options</a>
</div>

    <div id="slider">
    <div id="slider-range"></div>    
        <form action="/" method="post">
            {{ session_settings_form.as_p }}
            <input type="submit" value ="Apply" />
        </form>
    
    </div>  

</div>-

    <div id="content">

        {% block content %}{% endblock %}
        <div id="visualization"></div>
    </div>
   
    <div id ="footer">
        {% block footer %}
            <smalltext>Blind Data was made in 2010 by Michael Benedict. Data courtesy of the
             World Bank Group. For more information see <a href ="http://data.worldbank.org">http://data.worldbank.org</a>
             <br/>Send questions, comments, and bugs to thebenedict at gmail.
             <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/us/80x15.png" /></a>
        {% endblock %}
    </div>
</body>
</html>
