<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/tables.css" >  
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Blind Data</title>
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript">
    google.load('visualization', '1', {packages: ['geomap']});

    function drawVisualization() {
      var data = new google.visualization.DataTable();
      data.addRows({{ map_data|length }});
      data.addColumn('string', 'Country');
      data.addColumn('number', 'Datapoints');
      data.addColumn('string', 'Name');
      {% for name, code, number in map_data %}
      data.setValue({{ forloop.counter0 }}, 0, '{{ code }}');
      data.setValue({{ forloop.counter0 }}, 1, {{ number }});
      data.setValue({{ forloop.counter0 }}, 2, '{{ name }}');
      {% endfor %}
      
      var options = {};
      options['width'] = '750px';
      {% if map_data|length_is:"1" %}
          options['region'] = '{{ map_data.0.1 }}'
          options['dataMode'] = 'markers';
          options['showLegend'] = false;
      {% endif %}
      var geomap = new google.visualization.GeoMap(
          document.getElementById('visualization'));
      geomap.draw(data, options);
    }
    

    google.setOnLoadCallback(drawVisualization);
  </script>
</head>

<body>
    <div id="header">
        {% block header %}
            <h1>BLIND DATA</h1>
            <h2>Quantity Browser for the WDI and GDF Datasets</h2>
            <hr>
        {% endblock %}
    </div>

    <div id="filters">
        {% block filters %}{% endblock %}
    </div>  

    <div id="content">
        {% block content %}{% endblock %}
        <div id="visualization"></div>
    </div>
    
    <div id ="footer">
        {% block footer %}
            <smalltext>Blind Data is was made in 2010 by Michael Benedict. Data courtesy of the
             World Bank Group. For more information see <a href ="http://data.worldbank.org">http://data.worldbank.org</a>
             <br/><a href ="/">home</a></smalltext>
        {% endblock %}
    </div>
</body>
</html>