{% extends "blinddata_base.html" %}
{% load humanize %}
{% block content %}
<table>
    <thead>
        <tr>
            <th>Topic</th>
            <th># Series</th>
            <th># Datapoints</th>
            <th>Mean Points/Series</th>
            <th>Points/Year (1960-2009)</th>
        </tr>
    </thead>
    <tbody>
        {% for line in table_data %}
            <tr>
                <td><a href="/blinddata/{{line.safe_topic_name}}/">{{line.topic_name}}</a></td>
                <td>{{line.num_series|intcomma}}</td>
                <td>{{line.num_datapoints|intcomma}}</td>
                <td>{{line.ave_datapoints|intcomma}}</td>
                <td><img src="http://chart.apis.google.com/chart?chs=150x25&cht=ls&chco=0077CC&chf=bg,s,00000000&chds={{line.count_min}},{{line.count_max}}&chd=t:{% for c in line.count_list %}{% if not forloop.last %}{{c}},{% endif %}{% if forloop.last %}{{c}}{% endif %}{% endfor %}"></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}



