{% extends "blinddata_base.html" %}
{% load humanize %}
{% block filters %}
    <p>
    {% if map_data|length_is:"1" %}
        Home > {{ map_data.0.0 }} <a href="/">(remove)</a>
    {% else %}
        Home >
    {% endif %}
    </p>
{% endblock %}
{% block content %}
<table>
    <thead>
        <tr>
            <th class="left">Topic</th>
            <th># Series</th>
            <th># Datapoints</th>
            <th>Completeness</th>
            <th>Points/Year (1960-2009)</th>
        </tr>
    </thead>
    <tbody>
        {% for line in table_data %}
            <tr>
                <td class="left"><a href="{% if map_data|length_is:"1" %}/{{line.country.alpha2_code}}{% endif %}/{{line.safe_topic_name}}/">{{line.topic_name}}</a></td>
                <td>{{line.num_series|intcomma}}</td>
                <td>{{line.num_datapoints|intcomma}}</td>
                <td>{{line.percent_complete}}%</td>
                <td><img src="http://chart.apis.google.com/chart?chs=170x25&cht=ls&chco=0077CC&chf=bg,s,00000000&chds={{line.count_min}},{{line.count_max}}&chd=t:{% for c in line.count_list %}{% if not forloop.last %}{{c}},{% endif %}{% if forloop.last %}{{c}}{% endif %}{% endfor %}"></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}



