{% extends "blinddata_base.html" %}
{% load humanize %}
{% block filters %}
    <p>
    <a href="/">Home</a> >
    {% if map_data|length_is:"1" %}
    <a href="/{{ map_data.0.1 }}/">{{ map_data.0.0 }}</a> <a href="/{{ table_data.0.safe_topic_name }}/{{ table_data.0.safe_subtopic_name }}/{{ table_data.0.safe_series_name }}/">(remove)</a> >
    {% endif %}
    <a href="{% if map_data|length_is:"1" %}/{{map_data.0.1}}{% endif %}/{{ table_data.0.safe_topic_name }}/">{{ table_data.0.topic_name }}</a> > <a href="{% if map_data|length_is:"1" %}/{{map_data.0.1}}{% endif %}/{{ table_data.0.safe_topic_name }}/{{ table_data.0.safe_subtopic_name }}/">{{  table_data.0.subtopic_name }}</a> > {{ table_data.0.series_name }}
    </p>
{% endblock %}
{% block content %}
<table>
    <thead>
        <tr>
            <th class="left">Series</th>
            <th># Datapoints</th>
            <th>Completeness</th>
            <th>Points/Year (1960-2009)</th>
        </tr>
    </thead>
    <tbody>
        {% for line in table_data %}
            <tr>
                <td class="left">{{line.series_name}}</td>
                <td>{{line.num_datapoints|intcomma}}</td>
                <td>{{line.percent_complete}}%</td>
                <td><img src="http://chart.apis.google.com/chart?chs=170x25&cht=ls&chco=0077CC&chf=bg,s,00000000&chds={{line.count_min}},{{line.count_max}}&chd=t:{% for c in line.count_list %}{% if not forloop.last %}{{c}},{% endif %}{% if forloop.last %}{{c}}{% endif %}{% endfor %}"></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
